body{
    background-color: white;
    background-color:#ED0331;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin-top: 0px;
    text-align: center;
}
img{
    width:30%;
    margin: 0 35%;
}
div{
    background-color: white;
    width: 40%;
    margin: 5% auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    padding-bottom: 15px;
}
form{
    padding-left: 20px;
    margin-bottom: 30px;
}
button{
    background-color: #ED0331;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
}